::-webkit-scrollbar {
    display: none;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #999;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

#buttons {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 300px;
}

.button-set {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.highlight,
.note {
    color: #000;
    background-color: yellow;
    text-decoration: none;
}

#main {
    background-color: #fff;
    margin: 0 auto;
    padding: 1rem;
    width: 60%;
}

figure {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}
