<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>quote-saver</title>

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" sizes="192x192">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link href="{{ url_for('static', filename='dist/css/main.min.css') }}" rel="stylesheet" />
</head>

<body>
    <div id="main">
        {% if title %}
        <h1>{{ title }}</h1>
        {% endif %}

        {% if page %}
        {{ page|safe }}
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='dist/js/main.min.js') }}"></script>
</body>

</html>
