<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>quote-saver</title>

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" sizes="192x192">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
</head>

<body>
    <div id="buttons">
        <div class="button-set" id="selectionButtons">
            <h4>ExactSelection methods</h4>
        </div>

        <div class="button-set" id="rangeButtons">
            <h4>Range methods</h4>
        </div>

        <!-- <div id="selectioncontent" style="display: none;"></div>
        <textarea rows="10" cols="10" id="code"></textarea> -->
    </div>

    <div id="main">
        {% if title %}
        <h1>{{ title }}</h1>
        {% endif %}

        {% if page %}
        {{ page|safe }}
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
